<div class="wrapper">
  <h1>Sign In</h1>

  <form class="user-signin-form">
    <div>Enter Username: <br><input type="text" name="user[username]"></div><br>
    <div>Enter Password: <br><input type="password" name="user[password]"></div><br>
    <input type="submit">
  </form>
</div>