<h1>Reflections Recap</h1>

<div id="reflections-list">

</div>

<script id="reflection-display" type="text/x-handlebars-template">
  <div>
    {{#each reflections}}
      <h2>{{reflection_date}}</h2>
      <h3>{{productivity_score}}</h3>
      <h3>{{happiness_score}}</h3>
      <h3>{{health_score}}</h3>
      <h3>{{comments}}</h3>
    {{/each}}
  </div>
</script>