<div class="wrapper">
  <h1>New Reflection</h1>

  <form class="new-reflection-form">
    <div>Date: <br><input type="date" name="reflection_date" value="<%= Date.today %>"></div><br>

    <div>Productivity Score: <input type="radio" name="productivity_score" value="1">1
    <input type="radio" name="productivity_score" value="2">2
    <input type="radio" name="productivity_score" value="3">3
    <input type="radio" name="productivity_score" value="4">4
    <input type="radio" name="productivity_score" value="5">5

    <div>Happiness Score: <input type="radio" name="happiness_score" value="1">1
    <input type="radio" name="happiness_score" value="2">2
    <input type="radio" name="happiness_score" value="3">3
    <input type="radio" name="happiness_score" value="4">4
    <input type="radio" name="happiness_score" value="5">5

    <div>Health Score: <input type="radio" name="health_score" value="1">1
    <input type="radio" name="health_score" value="2">2
    <input type="radio" name="health_score" value="3">3
    <input type="radio" name="health_score" value="4">4
    <input type="radio" name="health_score" value="5">5

    <div>Comments: <br><textarea name="comments"></textarea></div>
    <input type="submit">
  </form>
</div>